
<div class='title well well-large'>
<h2><%= session[:player_name] %>, security is on the way, you are broke!!!</h2>
<p> Just kidding, but your not ready for Vegas yet!!!</p>
<form action="/">
    <input class='btn btn-primary' type="submit" value="Play Again" />
</form>
</div>