<div class='title well well-large'>
<h2><%= session[:player_name] %>, thanks for playing, hope you enjoyed the game.</h2><br>
<form action="/">
    <input class='btn btn-primary' type="submit" value="Play Again" />
</form>
</div>